@model Product;

@{
    ViewBag.Title = "Product Information";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Information</title>
</head>
<body>
    <div data-productid="@Model.ProductId" data-stocklevel="@ViewBag.StockLevel">
        <p>Product Name: @Model.Name</p>
        <p>Product Price: @($"{Model.Price:C2}")</p>
        <p>Product Stock: @ViewBag.StockLevel</p>
    </div>
</body>
</html>